<div>
    <% if flash[:alert] %>
    <p id = "notice"><% flash[:alert] %></p>
    <% end %>
    
    <%= form_tag do %>
    <fieldset>
        <legend>Please Log In</legend>
        <div>
            <%= label_tag :username, 'Username' %>
            <%= text_field_tag :username, params[:username] %>
            <%= label_tag :password, 'Password' %>
            <%= text_field_tag :password, params[:password] %>
        </div>
        <div class="right">
            <div class = "button">
            <% submit_tag "Login" %>
            </div>
        </div>
    </fieldset>
    <% end %>
</div>
